<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Add Product</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/#">Dashboard</a>
            <a class="navbar-brand" href="/#">Search</a>
            <a class="navbar-brand" href="/#">Sell</a>
            <a class="navbar-brand" href="/#">Account</a>
            <a class="navbar-brand" href="/#">Logout</a>
        </nav>

        <div class="add_product">
            <h1>Create a New Event (Owner : {{this_user.first_name}})</h1>

            {% if messages %}
                <ul class="messages">    
                    {% for message in messages %}    
                        <li>{{ message }}</li>    
                    {% endfor %}
                </ul>
            {% endif %}

            <form action="/add_product" method = "POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="product_name">Name : </label>
                    <input type="text" class="form-control" name="product_name">
                </div>
                <div class="form-group">
                    <label for="condition">Condition : </label>
                    <input type="text" class="form-control" name="condition">
                </div>
                <div class="form-group">
                    <label for="price">Price : </label>
                    <input type="text" class="form-control" name="price">
                </div>
                <div class="form-group">
                    <label for="negotiation">Negotiable : </label>
                    <input type="text" class="form-control" name="negotiation">
                </div>
                
                <button class="btn btn-primary btn-lg">Add</button>

            </form>
        </div>
    </div>
</body>
</html>